[Unit]
Description=DDC/CI Brightness Control Daemon

[Service]
ExecStart=/home/james/.local/bin/brightnessd
Restart=on-failure

[Install]
WantedBy=default.target